# set functions
psg() { ps auwx | sed -n -e "1p" -e "/sed/d" -e "/$1/p"; }

# Set aliases for Bash
alias ls="gls --color"
alias ll="ls -l"
alias psall="ps auwx"
alias l.="ls -d .[a-zA-Z]*"
alias lsd="ls -d */"
alias lsd.="ls -d .[a-zA-Z]*/"
alias psf='ps ax -o "lstart,pid,user,%cpu,command"'
alias lsc='ls --color'
alias la='ls -a'
alias lt='ls -l  --sort=time'
alias va='vagrant'
alias lrt="ls -lrt"

# Python virtual environments
#
# Iterate over virtual environments directory and build an
# alias to act as a shortcut to activate each environment
VENV_HOME="$HOME/.virtualenvs/*/"
alias_template="pv.aaa"
venv_template="source $HOME/.virtualenvs/bbb/bin/activate"
for pyvenv in $(ls -d1 $VENV_HOME | cut -d / -f 5); do
    alias ${alias_template/aaa/$pyvenv}="${venv_template/bbb/$pyvenv}"
done
unset alias_template venv_template
